header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border: 2px solid black;
}
ul li {
  list-style: none;
  display: inline;
  padding: 10px;
}
button {
  padding: 3px 5px;
  background-color: white;
  border-radius: 3px;
  cursor: pointer;
}
