
<div class="home">
  <h3>{{homeData.from}} - {{homeData.fromFullName}}</h3>
  <button routerLink="/">Back to Home</button>
</div>
<div class="chart_container">
  <div class="header_and_chart">
    <h3>1 {{homeData.from}} - {{homeData.to}} Past year history</h3>
    <div>
      <div>
        <div style="display: block; padding: 20px 0 5px 0;">
          <canvas baseChart
            [data]="barChartData"
            [options]="barChartOptions"
            [type]="barChartType">
          </canvas>
        </div>
      </div>
    </div>
  </div>
</div>
