
.home h3 {
  padding: 10px 0;
}

.parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  /* grid-column-gap: 12px; */
  /* grid-row-gap: 12px; */
  }
  .child {
    padding: 50px;
  }
