.panel_container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 130px;
  background-color: #fff;
  margin-top: -16px;
  gap: 30px;
  flex-wrap: wrap;
}
label {
  display: block;
}
.panel_left, .panel_right {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  margin: 0 30px;
}
.panel_left {
  align-items: stretch;
  justify-content: space-between;
  gap: 50px;
}
.panel_right {
  gap: 15px;
}
.first_row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.panel_right .formgroup {
  flex: 2;
}
.panel_right .formgroup select {
  width: 100%;
  text-align: center;
  padding: 10px;
}
.third_row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.display {
  padding: 7px 0px;
  border: 2px solid;
  text-align: center;
}
input {
  text-align: center;
  }
  .amount input {
    width: 100%;
    padding: 5px;
  }
.second_row button {
  width: 100%;
  padding: 10px 0;
  background-color: blue;
  color: #fff;
  border: 2px solid blue;
  cursor: pointer;
  border-radius: 5px;
}
.converted_val {
  padding: 10px 40px;
    border: 2px solid;
    width: 100%;
    text-align: center;
}
.more_details button {
  background-color: blue;
  border: 2px solid blue;
  color: #fff;
  font-size: 13px;
  border-radius: 3px;
  padding: 3px 50px;
}
.converter_img {
  align-self: end;
}
.converter_img span i {
  cursor: pointer;
}
.converter_img.buttonDisable span i {
  cursor: not-allowed;
  color: #8d8989;
}
.invalid {
  color: red;
  padding-top: 2px;
  font-size: 12px;
}
.second_row button:disabled {
  background-color: #0000ffb3 !important;
  border: 2px solid #0000ffb3 !important;
  cursor: not-allowed;
}


@media only screen and (max-width: 600px) {
  .panel_left {
    gap: 30px;
  }
}
