<div class="panel_container">
  <div class="panel_left">
    <div class="formgroup amount">
      <label for="amount">Amount</label>
      <input id="amount" type="number" placeholder="Enter amount"
      [formControl]="enteredAmount" />
    </div>
    <div class="formgroup display">
        <span>1.00 {{fromValue}} = {{latestToValue}} {{toValue}}</span>
    </div>
  </div>
  <div class="panel_right">
      <div class="first_row">
        <div class="formgroup">
          <label for="form">From</label>
          <select name="" id="from" [(ngModel)]="fromValue" (change)="getLatestValue()"
          [disabled]="!showBtn">
            <option [value]="item.symbol" *ngFor="let item of allCurrency">{{item.symbol}}</option>
          </select>
        </div>
        <div class="converter_img">
          <span>
            <i class="fa fa-arrows-h fa-3x" (click)="swapConversion()"></i>
          </span>
        </div>
        <div class="formgroup">
          <label for="to">To</label>
          <select name="" id="to" [(ngModel)]="toValue" (change)="getLatestValue()">
            <ng-container *ngFor="let item of allCurrency">
              <ng-container *ngIf="item.symbol !== fromValue">
                <option [value]="item.symbol">{{item.symbol}}</option>
              </ng-container>

            </ng-container>
          </select>
        </div>
      </div>
      <div class="second_row">
        <button (click)="convert()">Convert</button>
      </div>
      <div class="third_row">
        <div class="converted_val">
          <span>{{convertedValue}} {{toValue}}</span>
        </div>
        <div class="more_details" *ngIf="showBtn">
          <button routerLink="home/details"
          [queryParams]="{val: {from: fromValue, to: toValue} | json}">More Details</button>
        </div>
      </div>
    </div>
</div>
